<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8" />
		<title></title>
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<link rel="stylesheet" href="/barebones.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poiret+One&family=Sorts+Mill+Goudy&family=Tilt+Neon&display=swap" rel="stylesheet">
		
	</head>
	<body>
		<form class="search" method="GET"  action="/search">
			<label for="fish">Search By Species name:</label>
			<input type="text"  name="fish">
			<button type="submit" id="searchButton">Search</button>
		</form>
		<div class="w3-main w3-content w3-padding" style="width:100%">
			<div class="w3-container w3-center w3-black">
				<h1> <span class="index-h1">FishMonger</span>DB</h1>
			</div>	
			<nav>
				<button><a href="/fish/new">Make a New Fish Entry</a></button>
			</nav>
			<% for(let i = 0; i < fish.length; i++){ %>
				
				
				<%if (fish[i].imageGallery) {%> 
					<div class="w3-display-container">
						<div class="w3-card">
					<h1>
						<a href="/fish/<%=fish[i].id%>"> 
							<%=fish[i]['Species Name']%> 
						</a>
					</h1>
					<h1>
						
						
				</h1>
				
				<button><a href="/fish/<%= fish[i].id; %>/edit">Edit</a></button>
				
				<%for (let j=0; j <fish[i].imageGallery.length ; j+= 10) {%>
					
					
					<p><a href="/fish/<%=fish[i].id%>">
						<img src="<%=fish[i].imageGallery[j].src %>" class="w3-image" width="400"  /> 
					</a></p>
					<%}%> 
					
					<%}%> 
					<%}%>
				</div>
				</div>
			</div>
				<!-- PREVIOUS SHOT AT SEARCH BAR JS<script src="/models/search.js"></script> -->
			</body>
			</html>
			
