<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title></title>
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<link rel="stylesheet" href="/barebones.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poiret+One&family=Sorts+Mill+Goudy&family=Tilt+Neon&display=swap" rel="stylesheet">
	</head>
	<body>
		<div class="w3-main w3-content w3-padding" style="width:100%">
			<div class="w3-container w3-center w3-black">
				<h1><%=fish['Species Name']%></h1>
				<button><a href="/fish/<%=fish._id%>/edit">Edit: <%=fish['Species Name']%></a></button> 
				<form action="/fish/<%=fish._id %>?_method=DELETE" method="POST">
					<input type="submit" value="DELETE" />
				</form>
			</div>	

			Taste: <%=fish.Taste%> <br><br>
			Texture: <%=fish.Texture%> <br> <br>
			Population: <%=fish.Population%> <br> <br>
		Location: <%=fish.Location%> <br> <br>
		<!-- IF THE ARRAY EXISTS LOAD PHOTO -->
		<% if (fish['Species Illustration Photo'][0]) { %>
		<div class="w3-display-container">
		</div>
			<div class="w3-card">
				<img
					src="<%=fish['Species Illustration Photo'][0].src%>"
					class="w3-image w3-round"
					style="width: 100%; max-width: 400px"
				/>
				<%}%>
			<!-- IF THE OBJECT EXISTS LOAD PHOTO -->
			<% if (fish.imageGallery[0]) {%>
			<div class="w3-card">
				<img
					src="<%=fish.imageGallery[0].src%>"
					class="w3-image w3-round"
					style="width: 100%; max-width: 400px"
				/>
				<%}%>
			</div>

		</div>
	</body>
</html>
