<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title></title>
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
	</head>
	<body>
		<h1><%=fish['Species Name']%></h1>
		<div>
			<button>big button</button>
		</div>
		<%=fish.Habitat%> <%=fish.Location%> <%=fish.Population%> <%=fish.Taste%>
		<%=fish.Texture%> <%=fish['Health Benefits']%>
		<!-- IF THE ARRAY EXISTS LOAD PHOTO -->
		<% if (fish['Species Illustration Photo'][0]) { %>
		<div class="w3-card-4">
			<img
				src="<%=fish['Species Illustration Photo'][0].src%>"
				class="w3-image"
			/>
			<%}%>
		</div>

		<!-- IF THE OBJECT EXISTS LOAD PHOTO -->
		<% if (fish.imageGallery) {%>
		<div class="w3-card-4">
			<img src="<%=fish.imageGallery[0].src%>" class="w3-image" />
			<%}%>
		</div>

		<form action="/fish/<%=fish._id %>?_method=DELETE" method="POST">
			<input type="submit" value="DELETE" />
		</form>
		<a href="/fish/<%=fish._id%>/edit">edit</a>
	</body>
</html>
