<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title></title>
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
		<link rel="stylesheet" href="/barebones.css" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Poiret+One&family=Sorts+Mill+Goudy&family=Tilt+Neon&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body>
		<h1><%=fish['Species Name']%></h1>

		<%=fish.Habitat%> <%=fish.Location%> <%=fish.Population%> <%=fish.Taste%>
		<%=fish.Texture%> <%=fish['Health Benefits']%>
		<!-- IF THE ARRAY EXISTS LOAD PHOTO -->
		<% if (fish['Species Illustration Photo'][0]) { %>
		<div class="w3-display-container">
			<div class="w3-card">
				<img
					src="<%=fish['Species Illustration Photo'][0].src%>"
					class="w3-image w3-round"
					style="width: 100%; max-width: 400px"
				/>
				<%}%>
			</div>
			<!-- IF THE OBJECT EXISTS LOAD PHOTO -->
			<% if (fish.imageGallery[0]) {%>
			<div class="w3-card">
				<img
					src="<%=fish.imageGallery[0].src%>"
					class="w3-image w3-round"
					style="width: 100%; max-width: 400px"
				/>
				<%}%>
			</div>

			<form action="/fish/<%=fish._id %>?_method=DELETE" method="POST">
				<input type="submit" value="DELETE" />
			</form>
		</div>
		<a href="/fish/<%=fish._id%>/edit">edit</a>
	</body>
</html>
